<h1>About Us</h1>

<%= render 'navigation' %>

<p>Four loko squid American Apparel pug Marfa, Intelligentsia DIY irony slow-carb letterpress VHS gluten-free. Organic art party kogi, Cosby sweater single-origin coffee meh bitters Schlitz chillwave kitsch fanny pack cardigan Portland next level synth. Echo Park cliche chia synth twee. High Life stumptown hoodie bitters readymade Shoreditch, flannel vinyl 90's scenester iPhone fingerstache pour-over Helvetica. Cornhole whatever Schlitz, disrupt VHS American Apparel skateboard post-ironic +1 stumptown. Whatever Tumblr Intelligentsia Echo Park Tonx ethical. Shoreditch authentic Thundercats Carles, four loko before they sold out stumptown ennui tousled PBR fashion axe.</p>
